{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_auth/css/forgot_password.css' %}"
    />
  </head>
  <body>
    <main class="forgot-password-container">
      <section class="forgot-password-card">
        <div class="forgot-password-content">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c95a95e795aef11f0cfd74d6d4e42662efc06b9?placeholderIfAbsent=true&apiKey=e38bbeeeffa044528b2b40f50824f87f"
            alt="Company Logo"
            class="company-logo"
          />
          <h1 class="page-heading">Forgot your password?</h1>
          <p class="description-text">
            Please enter the email address linked to your account and we'll
            email you a code to reset your password.
          </p>
          <div class="form-container">
            <form method="POST" action="{% url 'forgot-password' %}">
              {% csrf_token %}
              <div class="email-field-container">
                <label for="email" class="email-label">Work Email</label>
                <div class="email-input-wrapper">
                  <div class="email-icon-container"></div>
                  <div class="email-input-container">
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="email-input"
                      placeholder="sample@email.com"
                      required
                    />
                    <div class="email-validation-icon"></div>
                  </div>
                </div>
              </div>
              <div class="action-container">
                <button type="submit" class="submit-button">
                  Send request
                </button>
                <a href="{% url 'login' %}" class="sign-in-link"
                  >Back to Sign In</a
                >
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
