* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
}
.create-account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}
.create-account-container {
  background-color: #ffffff;
  display: flex;
  padding: 83px 80px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.account-container {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  width: 720px;
  max-width: 100%;
  padding: 75px 40px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.main-body {
  border-radius: 24px;
  background-color: #ffffff;
  display: flex;
  padding: 0 80px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.logo {
  aspect-ratio: 4.24;
  object-fit: contain;
  object-position: center;
  width: 250px;
  max-width: 100%;
}

.heading {
  color: #062732;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 60px;
}

.form-container {
  align-self: stretch;
  display: flex;
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.signup-form {
  width: 100%;
  font-weight: 500;
  line-height: 1.2;
}

.form-group {
  width: 100%;
  margin-top: 32px;
}

.form-group:first-child {
  margin-top: 0;
}

.form-label {
  color: #000000;
  font-size: 14px;
  display: block;
}

.input-container {
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #a1a1a1;
  display: flex;
  margin-top: 12px;
  min-height: 60px;
  width: 100%;
  padding: 19px 18px;
  align-items: center;
  overflow: hidden;
}

.form-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
}

.form-input::placeholder {
  color: #a1a1a1;
}

.checkbox-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.checkbox-wrapper {
  display: flex;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  gap: 6px;
  justify-content: start;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-wrapper label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
}

.checkbox-wrapper label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #a1a1a1;
}

.checkbox-input:checked + label:before {
  background-color: #062732;
  border-color: #062732;
}

.checkbox-input:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 8px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.terms-link {
  font-weight: 700;
  text-decoration: underline;
}

.action-container {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  color: #062732;
}

.signup-button {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f6f6f6;
  min-height: 60px;
  width: 100%;
  padding: 19px 24px;
  border: none;
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  color: #062732;
  cursor: pointer;
}

.login-text {
  align-self: center;
  margin-top: 32px;
  width: 420px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
}

.login-prompt {
  font-weight: 500;
  color: #062732;
}

.login-link {
  font-weight: 700;
  text-decoration: underline;
  color: #062732;
  margin-left: 5px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .create-account {
    padding: 83px 20px;
  }

  .account-container {
    padding: 75px 20px;
  }

  .main-body {
    max-width: 100%;
    padding: 0 20px;
  }

  .heading {
    margin-top: 40px;
  }

  .form-container {
    max-width: 100%;
    margin-top: 40px;
  }

  .signup-form {
    max-width: 100%;
  }

  .form-group {
    max-width: 100%;
  }

  .input-container {
    max-width: 100%;
  }

  .checkbox-container {
    max-width: 100%;
  }

  .action-container {
    max-width: 100%;
  }

  .signup-button {
    max-width: 100%;
    padding: 19px 20px;
  }
}
